<ion-header>
  <ion-toolbar>
    <ion-title>encode</ion-title>
  </ion-toolbar>
</ion-header>


  <div class="ion-padding" >
    <div class="gambar">
      <ion-text>
      <h3 text-center> Silahkan Pilih Gambar Untuk Di Sembunyikan</h3>
    </ion-text>
    <ion-thumbnail>
        <ion-img id="hidden" src="{{hidden}}"></ion-img>
      </ion-thumbnail>
          <ion-button fill="clear" color="light" (click)="PilihGambarSembunyi()"></ion-button>
          <ion-icon name="camera" slot="start"></ion-icon>
          Pilih Gambar
        </div>
        <div>

         <ion-text>
        <h3 text-center> Silahkan Pilih Gambar Cover</h3>
      </ion-text> 
      <ion-thumbnail>
        <ion-img id="cover" src="{{cover}}"></ion-img>
      </ion-thumbnail>
                <ion-button fill="clear" color="light" (click)="PilihGambarCover()"></ion-button>
                <ion-icon name="camera" slot="start"></ion-icon>
                Pilih Gambar
          </div>
              <ion-button href="home">
                  Back To Home
                </ion-button>
              <ion-button (click)="encode()">
                Encode
              </ion-button>  
  </div>


  <div class="res invisible"> 
    <ion-img width="30" height="30" id="result" src=""></ion-img>

  </div>
  

